<div class="mt-4">
  <h2> My Stored Cources</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name Cource</th>
        <th scope="col"> Level </th>
        <th scope="col" colspan="3">Time Create</th>

      </tr>
    </thead>
    <tbody>
      {{#each cources}}
        <tr>
          {{! sum @index 1 xem ở index,js gôc phần engine helper }}
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td><a
              href="/cources/{{this._id}}/edit"
              class="btn btn-info"
            >Edit</a></td>
          <td><a
              href="/"
              class="btn btn-info"
              data-toggle="modal"
              data-target="#delete-cource-modal"
              data-id="{{this._id}}"
            >Delete</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! Confirm delete cource }}
<div id="delete-cource-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal Delete Cource</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure delete this cource?</p>
      </div>
      <div class="modal-footer">
        <button
          id="btn-delete-cource"
          type="button"
          class="btn btn-danger"
        >Delete</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Cancel</button>
      </div>
    </div>
  </div>

{{! hidden form delete }}
<form method="POST" name="delete-cource-form"></form>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var courceId;
    var deleteForm = document.forms["delete-cource-form"];
    var btnDelete = document.getElementById("btn-delete-cource");

    $("#delete-cource-modal").on("show.bs.modal", function (event) {
      var button = $(event.relatedTarget);
      courceId = button.data("id");
    });

    // xét khi nhấn nút aler delete
    btnDelete.onclick = function(){
      deleteForm.action = "/cources/"+courceId+"?_method=DELETE";
      deleteForm.submit();
    }
  });

</script>